*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

#map{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
}

.marker{
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Circle_-_black_simple_fullpage.svg/1200px-Circle_-_black_simple_fullpage.svg.png');
	background-size: cover;
	width: 15px;
	height: 15px;
}

.markerb{
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Circle_-_black_simple_fullpage.svg/1200px-Circle_-_black_simple_fullpage.svg.png');
	background-size: cover;
	width: 15px;
	height: 15px;
}

.markerc{
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Circle_-_black_simple_fullpage.svg/1200px-Circle_-_black_simple_fullpage.svg.png');
	background-size: cover;
	width: 15px;
	height: 15px;
}

.btn
{
	padding: -59px -29px;
	background: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 22px;
	font-weight: 500;
	border-radius: 30px;
}